/*
!/.gitignore
!/.github
!/gulpfile.ts
!/config.json
!/package.json
!/package-lock.json
!/tsconfig.json
!/LICENSE
!/README.md
!/TODO.md
!/lib-find-the-path
!/.gitmodules
!/.eslintrc.json

!/types

!/src
/src/*
# Gulp copies these files
!/src/module.json
!/src/assets
!/src/lang
!/src/packs
!/src/scripts
!/src/styles
!/src/styles-component
!/src/templates


!/.vscode
/.vscode/*
!/.vscode/extensions.json

!/docs